@import "../abstracts/_global.less";

section.map-legend{
  width: 200px;
  min-height: 150px;
  position: absolute;
  left: 35px;
  bottom: 35px;
  margin: auto;
  background-color: @white-color;
  .default-box-shadow;
  .default-border-radius;

  & .container{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;

    & ul.legend-list{
      width:100%;
      height: auto;

      & li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 15px 0;

        & .circle{
          width: 20px;
          height: 20px;
          border-radius: 50%;

          &.green{
            background-color: @green-color;
          }

          &.orange{
            background-color: @orange-color;
          }

          &.red{
            background-color: @red-color;
          }
        }
      }
    }

  }

  &.mobile{
    display: none;
  }
}
@media screen and (max-width: 992px) {
  section.map-legend{
    &.desktop{
      display: none;
    }
  }
}