section.map{
  height: 100vh;

  & .container{
    height: 100%;

    #svg-map{
      width:100%;
      height: 100%;

      & .svgMap-map-wrapper {

        & .svgMap-country{
          cursor: pointer;
        }
      }
    }
  }
}


.svgMap-tooltip-content-wrapper{
  width: 50%;
  height: 100px;
  display: block;
  border:1px solid red;
}

