@import "../abstracts/variables.less";

body{
    font-family: @primary-font;
    color: @dark-color;
}

h1,h2,h3,h4,h5,h6{
    font-family: @secondary-font;
}

//@iterations: 6;
//.headings-loop (@i) when (@i > 0) {
//    .h-@{i} {
//        font-size: ~"@{i}rem";
//    }
//    .headings-loop(@i - 1);
//}
//.headings-loop (@iterations);
//


input,textarea{
    border:none;
    outline: none;
    box-sizing: border-box;
    padding: 0 15px;
    font-family: @primary-font;
    font-size:1rem;
}